<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  {{ content_for_header }}

  {{ "normalize.css" | asset_url | stylesheet_tag }}
  {{ "style.css" | asset_url | stylesheet_tag }}
  
</head>
<body>
      {{ content_for_layout}}
</body>
</html>